<br>
<div class="table-responsive text-center">
    <table>
        <thead>
        <tr>
            <th>Student's Full Name</th>
            <th>House</th>
        </tr>
        </thead>

        <tbody>
                <tr>
                    <td><%= @student.full_name %></td>
                    <td><%= @student.house.name %></td>
                </tr>
        </tbody>
    </table>
</div>
<br>
<a class="btn btn-primary" href="/students" role="button">Go Back</a>

<%= stylesheet_link_tag 'student', media: 'all', 'data-turbolinks-track': 'reload' %>

<style>
table, th, td {
    border: 3px solid black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
}

th {
    text-align: center;
    color: white;
    font-weight: bold;
    filter: grayscale(1) contrast(9) drop-shadow(.05em .05em black);
}

td {
    font-weight: bold;
	font: cursive;
	text-align: center;
	filter: drop-shadow(.05em .05em black);
}

tr {
    background-color: rgba(0,0,0,0.6)
}
body {
    color:  #EFD777;
    font-size: 15px;
}
</style>