<br>
<div class="container text-center">
    <table>
        <thead>
        <tr>
            <th>Student name</th>
            <th>House</th>
        </tr>
        </thead>

        <tbody>
                <tr>
                    <td><%= @student.full_name %></td>
                    <td><%= @student.house.name %></td>
                </tr>
        </tbody>
    </table>
</div>

<style>
.container {
    margin-right: 20px;
    margin-left: 160px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}


table, th, td {
  border: 3px solid black;
  padding: 10px;
  width: 1010px;
}

th {
    text-align: center;
    color: white;
    font-weight: bold;
    filter: grayscale(1) contrast(9) drop-shadow(.05em .05em black);
}

td {
    font-weight: bold;
	font: cursive;
	text-align: center;
	filter: drop-shadow(.05em .05em black);
}

tr {
    background-color: rgba(0,0,0,0.6)
}
body {
    color:  #EFD777;
    font-size: 15px;
}
</style>