<div class="card-group">
  <div class="card text-white bg-transparent text-center" >
    <div class="card-body">
        <h1 class="card-title" id="gryffindor">Gryffindor</h1>

        <p class="card-text" id="shadow"><strong>Values bravery, daring, nerve, and chivalry. 
        Its emblematic animal is the lion, and its colours are scarlet and gold.</strong></p>
        
        <h2 class="card-title" id="gryffindor">Founder</h2>
        <p class="card-text" id="shadow"><strong>Godric Gryffindor</strong></p>
        
        <h2 class="card-title" id="gryffindor">Head of House</h2>
        <p class="card-text" id="shadow"><strong>Professor Minerva McGonnogall</strong></p>
    </div>
    <h2 class="card-title" id="gryffindor">House Crest</h2>
    <img src="gryffindor.png" class="card-img-bottom mx-auto d-block" style="height:200px; width: 200px;" alt="Gryffindor Crest">
    <br>
    <h2 class="card-title" id="gryffindor">House Ghost</h2>
    <p class="card-text" id="shadow"><strong>Nearly Headless Nick</strong></p>
    <br>
  </div>

  <div class="card text-white bg-transparent text-center" >
    <div class="card-body">
        <h1 class="card-title" id="slytherin">Slytherin</h1>

        <p class="card-text" id="shadow"><strong>Values ambition, leadership, self-preservation, cunning and resourcefulness.
        Its emblematic animal is the serpent, and its colours are emerald green and silver.</strong></p>

        <h2 class="card-title" id="slytherin">Founder</h2>
        <p class="card-text" id="shadow"><strong>Salazar Slytherin</strong></p>
        
        <h2 class="card-title" id="slytherin">Head of House</h2>
        <p class="card-text" id="shadow"><strong>Professor Severus Snape</strong></p>
    </div>
    <h2 class="card-title" id="slytherin">House Crest</h2>
    <img src="slytherin.png" class="card-img-bottom mx-auto d-block" style="height:200px; width: 200px;" alt="Slytherin Crest">
    <br>
    <h2 class="card-title" id="slytherin">House Ghost</h2>
    <p class="card-text" id="shadow"><strong>The Bloody Baron</strong></p>
    <br>
  </div>

  <div class="card text-white bg-transparent text-center" >
    <div class="card-body">
        <h1 class="card-title" id="ravenclaw">Ravenclaw</h1>

        <p class="card-text" id="shadow"><strong>Values intelligence, knowledge, curiosity, creativity and wit.
        Its emblematic animal is the eagle, and its colours are blue and bronze.</strong></p>

        <h2 class="card-title" id="ravenclaw">Founder</h2>
        <p class="card-text" id="shadow"><strong>Rowena Ravenclaw</strong></p>
        
        <h2 class="card-title" id="ravenclaw">Head of House</h2>
        <p class="card-text" id="shadow"><strong>Professor Filius Flitwick</strong></p>
    </div>
    <h2 class="card-title" id="ravenclaw">House Crest</h2>
    <img src="ravenclaw.png" class="card-img-bottom mx-auto d-block" style="height:200px; width: 200px;" alt="Ravenclaw Crest">
    <br>
    <h2 class="card-title" id="ravenclaw">House Ghost</h2>
    <p class="card-text" id="shadow"><strong>The Grey Lady</strong></p>
    <br>
  </div>  
  
  <div class="card text-white bg-transparent text-center" >
    <div class="card-body">
        <h1 class="card-title" id="hufflepuff">Hufflepuff</h1>

        <p class="card-text" id="shadow"><strong>Values hard work, dedication, patience, loyalty, and fair play. 
        Its emblematic animal is the badger, and yellow and black are its colours.</strong></p>

        <h2 class="card-title" id="hufflepuff">Founder</h2>
        <p class="card-text" id="shadow"><strong>Helga Hufflepuff</strong></p>
        
        <h2 class="card-title" id="hufflepuff">Head of House</h2>
        <p class="card-text" id="shadow"><strong>Professor Pomona Sprout</strong></p>
    </div>
    <h2 class="card-title" id="hufflepuff">House Crest</h2>
    <img src="hufflepuff.png" class="card-img-bottom mx-auto d-block" style="height:200px; width: 200px;" alt="Hufflepuff Crest">
    <br>
    <h2 class="card-title" id="hufflepuff">House Ghost</h2>
    <p class="card-text" id="shadow"><strong>The Fat Friar</strong></p>
    <br>
  </div>
</div>

<%= stylesheet_link_tag 'house', media: 'all', 'data-turbolinks-track': 'reload' %>

<style>
body {
background: url('house_background.jpg') !important;
}

.card-group {
  background-color: rgba(0,0,0,0.6);
}

#gryffindor {
  color: red !important; 
  text-shadow: 2px 2px black;
}

#slytherin {
  color: #04e004 !important; 
  text-shadow: 2px 2px black;
}

#ravenclaw {
  color: #00d0ff !important; 
  text-shadow: 2px 2px black;
}

#hufflepuff {
  color: yellow !important; 
  text-shadow: 2px 2px black;
}

#shadow {
  text-shadow: 2px 2px black;
}
</style>