<br><br>
<div id="welcome_home"></div>

<div class="text-center">
  <h3 id="intro"> 
    Have you ever imagined becoming a student at Hogwarts School of Witchcraft and Wizardry? 
    Imagine no more you can do that now or after exploring the site! 
    See our current Classes, Courses, Professors and Students!
  </h3>

  <a class="btn btn-primary" href="/cohorts" role="button">Current Classes</a>
  <a class="btn btn-primary" href="/students" role="button">Current Students</a>

  <h3 id="intro"> 
    Ready to join? Sign up below
  </h3>
  <a class="btn btn-primary" href="/students/new" role="button">New Student</a>
</div>
<br><br>
<audio controls loop>
  <source src="Prologue.mp3"id="hp_audio" type="audio/mpeg">
</audio>

<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<script src="https://rawcdn.githack.com/akzhy/Vara/16e30acca2872212e28735cfdbaba696a355c780/src/vara.min.js"></script>
<script>
  var vara = new Vara("#welcome_home", "https://rawcdn.githack.com/akzhy/Vara/ed6ab92fdf196596266ae76867c415fa659eb348/fonts/Satisfy/SatisfySL.json", [{
    text: "Welcome!!",
    fontSize: 60,
    y:10,
    color: "#EFD777"
  }], {
    strokeWidth: 2,
    textAlign:"center"
  });
</script>