<br><br>
<div id="container"></div>
<div class="text-center">
  <h3> 
    Have you ever wanted to become a student at Hogwarts School of Witchcraft and Wizardry?
    
  </h3>

  <a class="btn btn-primary" href="/student" role="button">Current Students</a>
  <a class="btn btn-primary" href="/professor" role="button">Meet Our Staff</a>
</div>

<script src="https://rawcdn.githack.com/akzhy/Vara/16e30acca2872212e28735cfdbaba696a355c780/src/vara.min.js"></script>
<script>
  var vara = new Vara("#container", "https://rawcdn.githack.com/akzhy/Vara/ed6ab92fdf196596266ae76867c415fa659eb348/fonts/Satisfy/SatisfySL.json", [{
    text: "Welcome!!",
    fontSize: 60,
    y:10
  }], {
    strokeWidth: 2,
    textAlign:"center"
  });
</script>

<style>
h3 {
  padding: 40px;
  font-weight: bold;
  height: inherit;
	background: inherit;
	font: cursive;
	text-align: center;
	filter: invert(1) grayscale(1) contrast(9) drop-shadow(.05em .05em black);
}
</style>