<br>
<div class="text-center">
  <h1> Welcome! </h1>
  
  <p> 
    Have you ever wanted to become a student at Hogwarts School of Witchcraft and Wizardry?
  </p>

  <p> School Motto:'Draco dormiens nunquam titillandus' – which means 'Never tickle a sleeping dragon'. </p>
<br>
  <a class="btn btn-primary" href="/student" role="button">Current Students</a>
  <a class="btn btn-primary" href="/professor" role="button">Meet Our Staff</a>
</div>