<h1 class = "text-center"> Welcome! </h1>
<p class = "text-center"> Have you ever wanted to become a student at Hogwarts School of Witchcraft and Wizardry? </p>

<div class="text-center">
  <%= button_to 'Current Students', student_index_path, :method => :get,  :class => "btn btn-outline-warning" %> <br>
  <%= button_to 'Meet Our Staff', professor_index_path, :method => :get,  :class => "btn btn-outline-warning" %>
</div>