body, html {
    text-align: center;

    background: url('cohort_background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-title {
    color: #EFD777 !important;
}