@import 'bootstrap/dist/css/bootstrap';

body {
    background: url('background.jpg') no-repeat;
    background-size: cover;
    height: 650px;
}



tr {
    color: whitesmoke
}

table td 
{
  table-layout: auto;
  width: 20%; 
}
