// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body, html {
    text-align: center;

    background: url('background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro {
    color: white;
    padding: 20px;
    font-weight: bold;
    background: inherit;
    text-shadow: 2px 2px black;
    font-size: x-large;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 10px;
    list-style: none;
    justify-content: space-evenly;
}